@import "_variables";
// Mixins

@mixin titre {
    font-family: $font-title;
    font-size: $font-size-h1;
    line-height: $line-height-title;
    font-weight: $font-weight-title;
    letter-spacing: $letter-spaTitre;
    text-transform: uppercase;

}
@mixin page {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
@mixin imageback {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@mixin acceuil__dekstop {
    .acceuil{
        @include page;
        @include imageback;
        background-image: url("page1.png");

        &__nav{
            display: flex;
            
            &__image{
                align-self: flex-start;
            }
            &__list{
                contain: content;
                width: 40%;
                display: flex;
                justify-content: space-between;
            }
            &__item{
                display: block;
                
            }
            &__menu{
                display: none;
            }
        }
    }
}