@import "_variables";
@import "_mixins";

*{
    margin: 0;
    padding: 0;
}
// Style de la page d'acceuil
.acceuil{
    @include page;
    @include imageback;
    background-image: url("page1.png");
    display: flex;
    flex-direction: column;
    
    // style de la navbar
    &__nav{
        flex: 0.5 1 auto;
        display: flex;
        justify-content: space-between;
        margin: 5% 5% 0;
        &__image{
            align-self: flex-start;
        }
        &__item{
            display: none;
        }      
    }
    // style du tire et de la fléche (encore à faire)
    
     &__titre{
        flex: 2 1 auto;
        align-self: center;
        text-align: center;
        @include titre;
     }
    } 
// style de la deuxième page, image + explications


.contenu{
    @include page;
    height: 100%;
    &__division{
        &__texte{
            height: 437px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            &__titre{
                font-family: $font-title;
                font-size: $font-size-h2;
                line-height: $line-height-h2;
                font-weight: $font-weight-title;
            }
            &__para{
                font-family: $font-texte;
                font-size: $font-size-texte;
                line-height: $line-height-texte;
                font-weight: $font-weight-texte;
            }
            &__link{
                font-size: 15px;
                font-family: $font-texte;
                font-weight: $font-weight-title;
                text-transform: uppercase;
            }
        }
        &__container{
            max-width: 100vh;
            &__image{
                width: 100%;
                height: 100%;
            }
        
        }
        &__cerise{
            height: 600px;
            background-image: url("cerise.png");
            @include imageback;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
        }
        &__orange{
            height: 600px;
            background-image: url("orange.png");
            @include imageback;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
        }
    }
}


// style de la troisième page, testimonies

.testimonies{
    height: 1108px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    &__titre{
        flex: 0.5 1 auto;
    }
    
    &__person{
        flex: 1 1 auto;
        border: solid 3px red;
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        &__para{
            align-self: center;
        }
        &__container{
            align-self: center;
            width: 72px;
            height: 72px;
        }
    }
}

// style de la dernière page, images + footer



@media screen and (min-width: 450px){
    @include acceuil__dekstop;
}