@import "_variables";
@import "_mixins";

*{
    margin: 0;
    padding: 0;
}
.first_page{
    @include page;
    background-image: url("page1.png");
    @include imageback;
    
    

    
}
.entete{
    margin: 5% 5% 5%;
    display: flex;
    justify-content: space-between;
}
.pag1Texte{
    
    @include titre;
    color: white;
    margin: 40% 0% 0%;
    max-width: 70%;
    align-self: center;
    flex:1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center ;

}
.test{
    @include page;
    height: 100%;
    
}

.container{
    max-width: 100vh;
    img{
        width: 100%;
        height: 100%;
    }
}
.textepage2{
    height: 437px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    h2{
        font-family: $font-title;
        font-size: $font-size-h2;
        line-height: $line-height-h2;
        font-weight: $font-weight-title;
    }
    p{
     font-family: $font-texte;
     font-size: $font-size-texte;
     line-height: $line-height-texte;
     font-weight: $font-weight-texte;   
    }
    h3{
        
    }
    
}