@import "_variables";
@import "_mixins";

*{
    margin: 0;
    padding: 0;
}
.first_page{
    @include page;
    background-image: url("page1.png");
    @include imageback;
    
    

    
}
.entete{
    margin: 5% 5% 5%;
    display: flex;
    justify-content: space-between;
}
.pag1Texte{
    
    @include titre;
    color: white;
    margin: 40% 0% 0%;
    max-width: 70%;
    align-self: center;
    flex:1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center ;

}
.test{
    @include page;
    height: 100%;
    
}

.container{
    max-width: 100vh;
    img{
        width: 100%;
        height: 100%;
    }
}
.textepage2{
    height: 437px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    h2{
        font-family: $font-title;
        font-size: $font-size-h2;
        line-height: $line-height-h2;
        font-weight: $font-weight-title;
    }
    p{
     font-family: $font-texte;
     font-size: $font-size-texte;
     line-height: $line-height-texte;
     font-weight: $font-weight-texte;   
    }
    h3{
     font-size: 15px;
     font-family: $font-texte;
     font-weight: $font-weight-title;
     text-transform: uppercase;
    }
    
}
.textpage3{
    height: 600px;
    background-image: url("cerise.png");
    @include imageback;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.textpage4{
    height: 600px;
    background-image: url("orange.png");
    @include imageback;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.testimonies{
    height: 1108px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    h2{
        flex: 0.5 1 auto;
    }
    
    .emily{
        flex: 1 1 auto;
        border: solid 3px red;
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        p{
            align-self: center;
        }
        .container{
            align-self: center;
            width: 72px;
            height: 72px;
        }
    }
}
.lastpage{
    display: flex;
    flex-direction: column;
    footer{
        display: flex;
        flex-direction: column;
        .container{
            align-self: center;
        }
        
    }
    .par2{
        display: flex;
        flex-direction: column;
        aside{
            display: flex;
            .container{
                width: 100vh;
            }
            }
        }
    }


